{% extends 'layout.html' %}

{% block content %}
    {% if (lang == "es") %}

    <h1>Acerca de </h1>
    <p>Hola! Soy Román y este es un proyecto que hice con Flask. Donde puedes crear contraseñas con una cierta longitud hecha de letras, además puedes añadirles letras mayúsculas, caracteres especiales /*-+=!?@#$%&*() y números.
        <br>
        Te invito a visitar mi <a href="https://www.linkedin.com/in/marcos-roman-lupiano/" target="_blank">Linkedin</a>, mi <a href="https://github.com/RomanLupiano" target="_blank">Github</a> 
        y mi <a href="https://romanlupiano.github.io/" target="_blank">Portfolio</a> 
        para saber más sobre mí y mis otros proyectos.</p>

    {% else %}

    <h1>About</h1>
    <p>Hello! I'm Román and this is a project I did with Flask. Where you can generate a password with a certain length made up of letters, you can also choose to add uppercase, special characters /*-+=!?@#$%&*() and numbers.
        <br>
        I invite you to visit my <a href="https://www.linkedin.com/in/marcos-roman-lupiano/" target="_blank">Linkedin</a>, my <a href="https://github.com/RomanLupiano" target="_blank">Github</a> 
        and my <a href="https://romanlupiano.github.io/" target="_blank">Portfolio</a> 
        to know more about me and my other projects.</p>

    {% endif %}

    
{% endblock %}